.historia{
	margin-top: 50px;
}

.historia p:first-child{
	font-weight: bold;	
}

.opciones div div{
	display: inline-block;
}

.personas{
	position: relative;
	height: 350px;
}
.persona{
	min-height: 350px;
}
.persona img{
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	position: absolute;
}

.persona > img:nth-child(1){ 
    filter: alpha(opacity=100); /* IE stuff */
    opacity: 1;
    z-index: 2;
}
.persona > img:nth-child(2){ /* second <img> child of <div> */
    filter: alpha(opacity=0); /* IE stuff */
    opacity: 0;
    z-index: 1;
}
/* hover */
.persona:hover > img:nth-child(1){ 
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 1;
}
.persona:hover > img:nth-child(2){ 
    filter: alpha(opacity=100);
    opacity: 1;
    z-index: 2;
}

.respuesta{
	margin: 10px;
	display: none;
}

.show{
	display: block !important;
}