.historia{
    margin-top: 50px;
}

.historia p:first-child{
    font-weight: bold;	
}

.opciones div div{
    display: inline-block;
}

#soluciones{
    margin-top: 20px;
}

.persona p{
    text-align: justify;
}

.hide{
    display: none;
}

.show{
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.solucion p{
    display: inline-block;
}

#respuestabtn{
    margin-top: 10px !important;
}